.app-input__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7FA;
    padding: 16px;
    font-size: 16px;
    border-radius: 6px;
    width: 400px;

    .app-input {
        background-color: #F7F7FA;
        border: none;
        width: 100%;
        font-size: 16px;
    
        &::placeholder {
            color: #ADADAE;
        }
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}