.app-button {
    width: 150px;
    background-color: #5AC77B;
    color: #fff;
    padding: 16px;
    border: none;
    border-radius: 40px;
    font-size: 1em;
    cursor: pointer;

    &-fullwidth {
        width: 100%;
    }
}