@import 'react-redux-toastr/src/styles/index';

body, h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  transition: none;
}

a:focus,
button:focus {
  outline: none;
}

* {
	outline: none;
}

#root {
  height: 100%;
  width: 100%;
}